
td {
  border: 1px solid black;
  /* border-bottom: 1px solid; */
  background-color: lightsalmon;
}

#wrapper {
display:flex;
justify-content: space-evenly;
}

table {
  /* min-width: 30%; */
color: black
}